/hardware/firmware/.dep/
/hardware/firmware/.clangd
/hardware/firmware/build/
/hardware/firmware/compile_commands.json
/hardware/firmware/*.creator.user
/hardware/firmware/wahyu_doc/
/hardware/pcb/fp-info-cache
/hardware/pcb/bom/
/hardware/pcb/*-bak
/hardware/pcb/*-cache.lib
/hardware/raspi/arm-rpi
/hardware/raspi/arm-rpi2
